{% extends "BlogApp/base.html" %}
{% block title %}Set password{% endblock title %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if err %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Incorrect current password
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h6>Set your password</h6>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="password">
                    <label>Current password</label>
                    <input type="password" id="password-input" class="form-control" name="current_password">
                </div>
                <div class="password">
                    <label>New password</label>
                    <input type="password" id="password-input" class="form-control" name="password">
                </div>
                <div class="password">
                    <label>Confirm new password</label>
                    <input type="password" id="password-input" class="form-control" name="confirm_password">
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-secondary">Enter</button>
        </div>     
    </div>
</form>
{% endblock content %}